<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>

	<!--配置mybatis log4j日志打印sql-->
	<settings><setting name="logImpl" value="LOG4J"/></settings> 

	<mappers>
		<mapper resource="sqlmap/userSqlMapper.xml" />
		<mapper resource="sqlmap/consumerBillSqlMapper.xml" />
		<mapper resource="sqlmap/biDataSqlMapper.xml" />
		<mapper resource="sqlmap/packageSqlMapper.xml" />
		<mapper resource="sqlmap/biNoticeSqlMapper.xml"/>
		<mapper resource="sqlmap/biFeedbackSqlMapper.xml"/>
		<mapper resource="sqlmap/biConsumerDataSqlMapper.xml"/>
		
		<!-- <mapper resource="sqlmap/biMap.xml"/> -->
	</mappers>
	
</configuration>
