<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intellbi.data.dao.UserDao">
   
   <select id="findAll" resultType="sysUser">
       select  a.id,
       		   a.group_id as groupId,
               a.username ,
               a.nickname ,
               a.password ,
               a.gmt_login as gmtLogin,
               a.gmt_modified as gmtModified ,
               b.name as groupName
       from bi_user a
       join bi_group b	
       on a.group_id = b.id
       order by a.group_id,a.id
   </select>
   
   <select id="get" parameterType="java.lang.Integer" resultType="sysUser">
    	select  a.id as id,
       		   a.group_id as groupId,
               a.username as username,
               a.nickname as nickname,
               a.password as password,
            	a.gmt_login as gmtLogin,
               a.gmt_modified as gmtModified ,
               b.name as groupName
       from bi_user a
       join bi_group b	
       on a.group_id = b.id
       where a.id=#{id}
   </select>
   
   <select id="findByUser" parameterType="sysUser" resultType="sysUser">
    	select  a.id as id,
       		   a.group_id as groupId,
               a.username as username,
               a.nickname as nickname,
               a.password as password,
               a.gmt_login as gmtLogin,
               a.gmt_modified as gmtModified ,
               b.name as groupName
       from bi_user a
       join bi_group b	
       on a.group_id = b.id
        where a.username=#{username}
   </select>
    
    <insert id="save" parameterType="sysUser" useGeneratedKeys="true" keyProperty="id">
		insert into bi_users (
			group_id,
			staff_id,
			username,
			realname,
			password,
			gmt_create,
			gmt_modified
		) values(#{groupId},#{staffId},#{username},#{password},now(),now());
	</insert>


	<update id="update" parameterType="sysUser">
	   update bi_users set 
		   group_id=#{groupId},
		   staff_id=#{staffId},
		   username=#{username},
		   realname=#{realname},
		   password=#{password},
		   gmt_modified=#{gmtModified},
		   gmt_login=#{gmtLogin}
	   where id=#{id} 
	</update>
    
</mapper>