<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intellbit.dao.BiDataDao">
   
   <select id="findAll" resultType="com.intellbit.dataobject.BiDataDO">
       select	
       		id as id,
       		themonth as theMonth,
       		status as status
       from 
       		bi_data
       	order by themonth desc
   </select>
   
   <select id="findRecent" resultType="com.intellbit.dataobject.BiDataDO">
   		select	
       		id as id,
       		themonth as theMonth,
       		status as status
       from 
       		bi_data
       order by themonth desc limit 1 
   </select>
   
</mapper>